.job-offer {
  padding: @grid-gutter-width 0;
}
.offer-title {
  display: inline-block;
  margin: 0;
  margin-bottom: ceil(@grid-gutter-width * .75);
}
.offer-share {
  float: right;
  padding-top: ceil(@grid-gutter-width * .9);

}

.offer-image {
  clear: right;
  margin-bottom: ceil(@grid-gutter-width * .75);
  img {
    width: 100%;
  }
}

.offer-description {
  margin-bottom: ceil(@grid-gutter-width * .75);
}

.offer-details {
  .lead();
  dl {
    margin-bottom: 0;
  }
  dt {
    display: inline-block;
    margin-right: ceil(@grid-gutter-width * .15);
  }
  dd {
    display: inline-block;
  }
}

.offer-date-start {
  display: inline-block;
  &:after {
    content: " - ";
  }
}

.offer-date-end {
  display: inline-block;
  margin-bottom: ceil(@grid-gutter-width * .5) !important;
}

.offer-apply {
  text-align: center;
}

// XXS Only
@media (max-width: @screen-xxs-max) {
  .offer-title {
    margin-bottom: 0;
  }
  .offer-share {
    float: none;
    padding-top: 0;
    margin-bottom: ceil(@grid-gutter-width * .75);
  }
  .offer-date-start,
  .offer-date-end {
    display: block;
    &:after {
      display: none;
    }
  }
}